@import url('https://fonts.googleapis.com/css?family=Megrim|Quicksand');

h1, h2, h3, h4, th, li, .navbar-text, .navbar-brand, label, .btn{
  font-family: 'Quicksand', sans-serif;
}

#title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
}

p, .basic, input[type='text'] {
  font-family: 'Quicksand', sans-serif;
}

.basic, input[type='text'] {
  font-size: 20px;
}

.centre{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.result {
  height: 250px;
}

.img_result {
  width: 100px;
  height: 100px;

  border: solid;
  border-color: black;
  border-width: 2px;

  margin-top: 50px;
}


.card {
  width: 250px;
  min-height: 100px;
  box-shadow: 10px 10px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  float: right;
}
